# Created by .ignore support plugin (hsz.mobi)
.idea/
data/glove.840B.300d.zip
data/hotpot_dev_distractor_v1.json
data/hotpot_dev_fullwiki_v1.json
data/hotpot_train_v1.1.json
experiment/
/data/glove.840B.300d.txt
/data/glove.6B.50d.txt
data/char2idx.json
data/char_emb.json
data/dev_eval.json
data/dev_record.pkl
data/fullwiki.dev_eval.json
data/fullwiki.dev_record.pkl
data/fullwiki.test_eval.json
data/fullwiki.test_record.pkl
data/hotpot_test_fullwiki_v1.json
data/idx2char.json
data/idx2word.json
data/word2idx.json
data/word_emb.json
src/__pycache__/
/data/test_eval.json
/data/test_record.pkl
