# Created by .ignore support plugin (hsz.mobi)
.idea/
data/glove.840B.300d.zip
data/hotpot_dev_distractor_v1.json
data/hotpot_dev_fullwiki_v1.json
data/hotpot_train_v1.1.json
experiment/
/data/glove.840B.300d.txt
